body {
    font-family: Arial;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 350px;
    /* height: 550px;
    overflow-x: auto; */
}

.login_container {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    /* height: 550px; */
    /* overflow-x: auto; */
}

.regform {
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow-x: auto;
}

.loginform{
    display: flex;
    flex-direction: column;
}

label { 
    margin-bottom: 3px;
}

input {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: circle;
    padding-left: 30px;
    height: 300px;
    overflow-x: auto;
}

li {
    margin-bottom: 20px;
}

#searchInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

::-webkit-scrollbar{
    margin-left: 3px;
}

/* button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} */

/* button:hover:not(:disabled) {
    background-color: #0056b3;
} */

#userList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#userList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}